<%- include("./partial/header")%>

  <head>
    <style>
     body{
       background-color: #edf1f6;
     }
     
    .card{
      background-color: #e9ecef;
      width: 60%;
    height: 50%;
    overflow: auto;
    margin: auto;
    margin-top: 60px;
    box-shadow: 0 123px 126px 0 rgb(0 0 0 / 20%), 0 0px 123px 0 rgb(0 0 0 / 19%);
    }
    </style>
  </head>



 <div class="card mb-3" >
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="<%=data.Poster%>" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <div class="" style="max-width: 400px;">
          <div class="col-md-8" style="max-width:100%">
              <h1 class="card-title" margin-bottom=0px>
                <%=data.Title%>
              </h1>
              <h7 class="card-title"> <b>
                  <%=data.Year%>
                </b></h7> <br>
              <h8 class="card-title"> <b>Released Date :</b>
                <%=data.Released%>
              </h8> <br>
              <h8 class="card-title"> <b>RunTime :</b>
                <%=data.Runtime%>
              </h8> <br>
              <h8 class="card-title"> <b>Genre :</b>
                <%=data.Genre%>
              </h8> <br>
              <h8 class="card-title"> <b>Director :</b>
                <%=data.Director%>
              </h8> <br>
              <h8 class="card-title"> <b>imdb Rating :</b>
                <%=data.imdbRating%>
              </h8> <br>
              <h8 class="card-title"> <b>Awards :</b>
                <%=data.Awards%>
              </h8> <br>
              <h8 class="card-title"> <b>Actors :</b>
                <%=data.Actors%>
              </h8> <br>
              <br>
              <p class="card-text">
                <i><%=data.Plot%></i>
              </p>
              </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>




  <%- include("./partial/footer")%>