<%- include("./partial/header")%>
<head>
    <style>
         body{
       background-color: #edf1f6;
     }
     .card{
         background-color: #e9ecef;
         box-shadow: 0 123px 126px 0 rgb(0 0 0 / 20%), 0 0px 123px 0 rgb(0 0 0 / 19%);
  
     }
    </style>
</head>
    <%if(movieData.Response==='False'){%>
        <h1>Movie Not Found</h1>
        <%}else{%>
            <h1 style="text-align: center;">Result for "<%=search%>"</h1>
            <div class="row">
                <%movieData['Search'].forEach(function(movie){%>
                    <a href="/result/<%=movie.imdbID%>" >
                    <div class="card" style="width: 18rem; margin-left: 70px; margin-top: 10px;">
                        <img src="<%=movie.Poster%>" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%=movie.Title%>
                            </h5>
                            <p class="card-text">
                                <%=movie.Year%>
                            </p>
                            <a href="/result/<%=movie.imdbID%>" class="btn btn-info">Know more</a>
                        </div>
                    </div>
                    <%})%>
                </a>
            </div>
            <%}%>

                <%- include("./partial/footer")%>